// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.reply-link{
    color: brown;
    cursor:pointer;
}

.reply-link:hover{
    text-decoration: underline;
}

.card{
    margin-bottom:10px;
}

.main-title{
    margin-top:20px;
    margin-bottom:20px;
}

.comment-date{
    font-size: 7pt;
    color: gray;
    float: right;
}
